<h1 mat-dialog-title>Dialog for messages</h1>
<div mat-dialog-content>
  <div class="dialog">
    <mat-form-field appearance="outline" class="dialog__input">
      <mat-label>Input message</mat-label>
      <input matInput #inputMessage (keyup)="checkMessageText()">
    </mat-form-field>

    <button class="dialog__btn" mat-raised-button color="primary" [disabled]="!isValueMessage" (click)="sendMessage()">Send
      message</button>
  </div>
  <div class="dialog__site">
    <iframe class="dialog__site_frame" #frameDialog (load)="startHello()"></iframe>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
